.header{
    display:flex;
    justify-content: space-between;
    background-color: #606c38;
    color: #fefae0;
}
.buttons{
    justify-content: center;
    align-content: center;
    display:flex;
    gap:15px; 
}
.tokyo{
    object-fit: cover;
    max-width: 100%;
    filter: brightness(50%);
}
.button{
    display: flex;
    justify-content: center;
}
.textInImage{
    position: absolute;
    top: 50%;
    background-color: #bc6c25;
  left: 50%;
  transform: translate(-50%, -50%);
}
