/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.header{
    display:flex;
    justify-content: space-between;
    background-color: #606c38;
    color: #fefae0;
}
.buttons{
    justify-content: center;
    align-content: center;
    display:flex;
    gap:15px; 
    
}
.tokyo{
    object-fit: cover;
    max-width: 100%;
    filter: brightness(50%);
}
.button{
    display: flex;
    justify-content: center;
    align-self: center;
}
.textInImage{
    position: absolute;
    top: 50%;
    background-color: #bc6c25;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image{
    object-fit: cover;
    max-width: 90px;

}
.cart{
    display: flex;

}
.cartimg{
    width: 50px;
    height: 50px;
}
.item{
    
    display: flex;
    box-shadow: 10px 5px 5px red;
    outline: 5px solid black;
    outline-offset: -20px;
    text-justify: center;
    padding:20px;
    text-transform: capitalize;
    flex-direction: column;
    border:5px solid red;
    max-width: 100%;
    align-items: center;
    justify-content: space-around;
    width: 240px;
}

.cards{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:90px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputNumber{
    max-width: 25px;
}
.hidden{
    display:none
}
.pricetag{
    display: flex;
    justify-content: center;
}
